<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">        
        <div class="collapse navbar-collapse justify-content-between" id="navbarNav">
          <a href="#">
            <img src="/media/Rectangle 30.svg" class="d-inline-block align-top" alt="Логотип">
          </a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <ul class="navbar-nav">
    {{#if isAdmin}}
        <li class="nav-item">
            <a class="nav-link" href="/admin-auto">Списки авто</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/support-chat">Чат с клиентами</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/rental-history">История аренды</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/trip-history">История поездок</a>
        </li>
    {{else}}
        <li class="nav-item">
            <a class="nav-link" href="/">Главная</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#about">О нас</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/auto">Аренда авто</a>
        </li>
        <li class="nav-item">
            <a class="nav-link border-0" data-toggle="modal" data-target="#supportChatModal">Связаться с нами</a>
        </li>
    {{/if}}
                
            </ul>
                {{#if authenticated}}
                    <ul class="navbar-nav user" >
                        <li class="nav-item user-item">
                            {{user.FIO}}
                            <div class="userDetails">
                                <ul>
                                    <li><a href="#" data-toggle="modal" data-target="#editProfileModal"><img src="media/navbar-icon/Rectangle 35.svg" class="align-middle"> Изменить профиль</a></li>
                                    <li><a href="#" data-toggle="modal" data-target="#promoCodesModal"><img src="media/navbar-icon/Ellipse 10.svg" class="align-middle"> Мои промокоды</a></li>
                                    <li><a href="#" data-toggle="modal" data-target="#tripHistoryModal"><img src="media/navbar-icon/Rectangle 34.svg" class="align-middle"> История поездок</a></li>
                                    <li><a href="#" data-toggle="modal" data-target="#supportChatModal"><img src="media/navbar-icon/Rectangle 36.svg" class="align-middle"> Чат с поддержкой</a></li>
                                    <li><a href="/logout"><img src="media/navbar-icon/Rectangle 37.svg" class="align-middle"> Выйти</a></li>
                                </ul>
                            </div>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/profile">
                                <div class="userPhoto rounded-circle border">
                                    <img src="media/user.jpg" class="rounded-circle" alt="User Photo">
                                </div>
                            </a>
                        </li>
                    </ul>
                {{else}}
                    <ul class="navbar-nav no-user"  >
                        <li class="nav-item">
                            <a href="/reg" class="nav-link" id="showRegistrationForm">Зарегистрироваться</a>
                        </li>
                        <li class="nav-item">
                            <a href="/reg" class="nav-link" id="showLoginForm">Войти</a>
                        </li>
                    </ul>
                {{/if}}          
            
            
                        <!-- Модальные окна -->
                        <!-- Модальное окно для изменения профиля -->
            <div class="modal" id="editProfileModal">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">Изменить профиль</h5>
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                        </div>
                        <div class="modal-body">
                            <!-- Форма для изменения профиля -->
                            <form action="/profile" method="post">
                            
                                <div class="form-group ">
                                    <input type="text" name="userId" class="form-control" id="userId" value="{{user.UserID}}"disabled>
                                </div>
                                <div class="form-group ">
                                    <input type="text" name="phoneNumber" class="form-control" id="phoneNumber" value="{{user.PhoneNumber}}">
                                </div>
                                <div class="form-group ">
                                    <input type="email" name="email" class="form-control" id="email" value="{{user.Email}}">
                                </div>
                                
                                <button type="submit" class="btn btn-primary" >Сохранить изменения</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Модальное окно для промокодов -->
            <div class="modal" id="promoCodesModal">
    <div class="modal-dialog">
        <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">Мои промокоды</h5>
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                        </div>
            <div class="modal-body">
                {{#if user.PromoCodeID}}
                    <ul class="promocode-container">                        
                            <li class="d-flex ">
                                <img src="/media/iconModel/Rectangle 92.svg" alt="">
                                <div class="ml-2">
                                    <p class="mb-2">Промокод SUMMER15 для получения
                                    15% скидки на первую поездку</p>
                                    <button class="p-2 bg-secondary text-white rounded-pill ">применить</button>
                                </div>                                
                            </li>                        
                            
                            <li class="d-flex ">
                                <img src="/media/iconModel/Rectangle 92.svg" alt="">
                                <div class="ml-2">
                                    <p class="mb-2">Промокод SUMMER15 для получения
                                    15% скидки на первую поездку</p>
                                    <button class="p-2 bg-secondary text-white rounded-pill ">применить</button>
                                </div>                                
                            </li>                 
                    </ul>
                    {{else}}
                    <div class="promocode-container d-flex justify-content-center align-items-center flex-column"  >
                        <img src="/media/iconModel/Rectangle 91.svg" alt="" class="col-6 mb-4">
                        <h1 class="mb-1">Промокодов пока нет</h1>
                        <p>Они появятся здесь, как только вы их получите</p>
                    </div>
                     {{/if}}     
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
            </div>
        </div>
    </div>
</div>


            <!-- Модальное окно для истории поездок -->
            <div class="modal" id="tripHistoryModal">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">История поездок</h5>
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                        </div>
                        <div class="modal-body">
                            <!-- Таблица с историей поездок пользователя -->
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>Дата</th>
                                        <th>Место отправления</th>
                                        <th>Место назначения</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>{{StartTime}}</td>
                                        <td>{{user.StartPoint}}</td>
                                        <td>{{user.EndPoint}}</td>
                                    </tr>
                                    <!-- Дополнительные записи об истории поездок -->
                                </tbody>
                            </table>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Модальное окно для чата с поддержкой -->
            <div class="modal" id="supportChatModal">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">Чат с поддержкой</h5>
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                        </div>
                        <div class="modal-body ">
                            <div class="message-container container col-12 mb-2">
                                <ul class="list-unstyled mb-3 d-flex flex-column col-12">
                                    <li class="d-flex justify-content-start align-items-center  p-2 bg-secondary text-white rounded-pill mb-1">
                                        <img class="supportImg" src="/media/iconModel/Ellipse 14.svg" alt="">
                                        <p class="p-1">1 сообщение поддержки</p>                            
                                    </li>
                                    <li class="d-flex justify-content-end align-items-center  p-2 bg-secondary text-white rounded-pill mb-1 ">
                                        <p class="p-1">сообщение пользователя</p>
                                        <img class="supportImg" src="/media/user.jpg"  alt="">
                                        </li>
                                    <li class="d-flex justify-content-start align-items-center  p-2 bg-secondary text-white rounded-pill mb-1 ">
                                        <img class="supportImg" src="/media/iconModel/Ellipse 14.svg" alt="">
                                        <p class="p-1">2 сообщение поддержки</p>                            
                                    </li>
                                    <li class="d-flex justify-content-start align-items-center  p-2 bg-secondary text-white rounded-pill mb-1">
                                        <img class="supportImg" src="/media/iconModel/Ellipse 14.svg" alt="">
                                        <p class="p-1">1 сообщение поддержки</p>                            
                                    </li>
                                    <li class="d-flex justify-content-end align-items-center  p-2 bg-secondary text-white rounded-pill mb-1 ">
                                        <p class="p-1">сообщение пользователя</p>
                                        <img class="supportImg" src="/media/user.jpg"  alt="">
                                        </li>
                                    <li class="d-flex justify-content-start align-items-center  p-2 bg-secondary text-white rounded-pill mb-1 ">
                                        <img class="supportImg" src="/media/iconModel/Ellipse 14.svg" alt="">
                                        <p class="p-1">2 сообщение поддержки</p>                            
                                    </li>
                                </ul>
                            </div>
                            <form>
                                <div class="input-group position-relative">
                                    <input type="text" class="rounded-pill p-2 col-12" placeholder="Ваше сообщение" aria-label="Ваше сообщение" aria-describedby="basic-addon2">
                                    
                                        <button class="btn btn-primary rounded-pill position-absolute " style="right: 0;top: 0;" type="button">
                                            <img src="/media/iconModel/email-download-svgrepo-com.svg" class="supportImg" alt="">
                                        </button>
                                </div>
                            </form>
                        </div>
                        <div class="modal-footer">
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</nav>