
<main>
    <div class="container car-list mt-3">
      <div class="row justify-content-center mb-4" role="group" aria-label="Car Categories">
          <button type="button" class="btn btn-secondary m-1" id="allCarsBtn">Все авто</button>
          <button type="button" class="btn btn-secondary m-1" id="economyBtn">Эконом</button>
          <button type="button" class="btn btn-secondary m-1" id="sedanBtn">Седан</button>
          <button type="button" class="btn btn-secondary m-1" id="SUVBtn">Внедорожник</button>
          <button type="button" class="btn btn-secondary m-1" id="luxuryBtn">Люкс</button>
          <button type="button" class="btn btn-secondary m-1" id="hatchbackBtn">Хэтчбек</button>
      </div>
    
        <div class="overflow-auto-car  scrollable-list form border rounded-top-4 rounded-bottom-4 p-4">
            <div class="row p-4">

{{#each cars}}
  <div class="col-lg-4 {{this.Class}}-car full-car-card">
                    <div class="card car-card col-12 p-0">                        
                        {{#if url}}
                            <img src="{{url}}" alt="{{name}}" class="card-img-top car-image" style="width: 100%;">
                        {{else}}
                            <img src="/media/zaglyshka.jpg" alt="автомобиль не отфотографирован" class="card-img-top car-image" style="width: 100%;">
                        {{/if}}
                        <div class="card-body car-details d-flex justify-content-between">
                            <h5 class="card-title" style="flex: 1;">{{this.Mark}} {{this.Model}}</h5>
                            <button type="button" class="btn btn-primary" style="flex: 1;">Стоимость: {{this.PriceDay}}/день</button>
                        </div>
                    </div>
                </div>
{{else}}
  <p>No cars available at the moment.</p>
{{/each}}

            </div>
        </div>
    </div>

<div id="carDetailsModal" class="modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Подробная информация об автомобиле</h5>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body" id="carDetailsModalContent">
        <!-- Сюда будет выводиться информация об автомобиле -->
      </div>
    </div>
  </div>
</div>

<a name="about" class="mt-4"></a>
<section class="mt-4 d-flex align-items-center justify-content-center" >
  <div class="bg-light text-center w-100">
    <div class="container pt-4">
      <h2>Наши преимущества</h2>
      <div class="row justify-content-center pt-4">
        <div class="col-sm-4" style="max-width: 300px;">
          <img src="/media/Rectangle 77.svg" alt="" class="img-about">
          <p >Наши машины проходят техосмотр каждую неделю</p>
        </div>
        <div class="col-sm-4" style="max-width: 300px;">
          <img src="/media/Rectangle 78.svg" alt="" class="img-about">
          <p >Мы проводим медосмотр водителей перед каждым рейсом</p>
        </div>
        <div class="col-sm-4" style="max-width: 300px;">
          <img src="/media/Rectangle 79.svg" alt="" class="img-about">
          <p >Права водителей - российского образца</p>
        </div>
        <div class="col-sm-4" style="max-width: 300px;">
          <img src="/media/Rectangle 80.svg" alt="" class="img-about">
          <p >В нашем автопарке автомобили не старше 5 лет</p>
        </div>
        <div class="col-sm-4" style="max-width: 300px;">
          <img src="/media/Rectangle 81.svg" alt="" class="img-about">
          <p >У каждого водителя есть детское кресло</p>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="d-flex align-items-center justify-content-center">
  <div class="bg-light text-center w-100 pb-4">
    <div class="container pt-4">
      <h2>Акции</h2>
      <div class="row justify-content-around pt-4">
        <div class="col-sm-3">
          <div class="card card-about text-center bg-light h-100 d-flex flex-column">
            <img src="/media/Rectangle 83.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title fs-4">Скидка за внимательность</h5>
              <p class="card-text text-sm">В салоне такси спрятана карточка с промокодом. Активируй её на сайте и получи скидку 10% на следующую поездку.</p>
            </div>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="card card-about text-center bg-light h-100 d-flex flex-column">
            <img src="/media/Rectangle 83 (3).jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title fs-4">Летний промокод</h5>
              <p class="card-text text-sm">Вводи промокод SUMMER10 и получи скидку 10% на первую поездку.</p>
            </div>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="card card-about text-center bg-light h-100 d-flex flex-column">
            <img src="/media/Rectangle 83 (1).jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title fs-4">Оплачивай с миром</h5>
              <p class="card-text text-sm">Оплачивай поездки картой МИР и получай кэшбек 5%.</p>
            </div>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="card card-about text-center bg-light h-100 d-flex flex-column">
            <img src="/media/Rectangle 83 (2).jpg" class="card-img-top card-img-bottom" alt="...">
            <div class="card-body">
              <h5 class="card-title fs-4">Помощь с переездом</h5>
              <p class="card-text text-sm">По промокоду PEREEZD10 получи скидку 10% на первый час заказа грузового такси.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
</main>